*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #ffffff;
    height: 5;
    height: 5rem;
    font-size: 3rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
}
.choice{
    height: 165px;
    width: 165px;
    /* background-color: aqua; */
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}